.chart1{
	list-style:none;
	float:left;
	width:46%;
	height:450px;
	background:#f0f5fc;
	margin:15px 15px 10px 15px;
	box-sizing:border-box;
	border:1px solid #324869;
	box-shadow: 10px 10px 5px #031161;
	padding:10px;
	
}

.chart2{
	list-style:none;
	float:left;
	width:46%;
	height:270px;
	background:#f0f5fc;
	margin:15px 15px 10px 15px;
	box-sizing:border-box;
	border:1px solid #324869;
	box-shadow: 10px 10px 5px #031161;
	padding:10px;
	overflow:scroll;
}

.chart2{
	list-style:none;
	float:left;
	width:46%;
	height:450px;
	background:#f0f5fc;
	margin:15px 15px 10px 15px;
	box-sizing:border-box;
	border:1px solid #324869;
	box-shadow: 10px 10px 5px #031161;
	padding:10px;
	overflow:scroll;
}

.bottom{
	width:100%;
	height:50px;
	line-height:50px;
	background:#adb5ba;
	text-align:center;
}

	
/*.............................. table ..................................................*/

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 2px solid #ddd;
  width: 100%;
}

table td, table th {
 padding: 8px;
}
table tr:nth-child(even){background-color: #ddd;}

table tr:hover {background-color: #f2f2f2;}

table th {
  padding-top: 12px;
  
  padding-bottom: 12px;
  text-align: left;
  background-color: #4287f5;
  color: white;
 }
 